html, body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

.header { 
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/src/images/header-img.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header h1 {
    font-size: 1.625rem; /*2.625*/
    font-weight: 800;
}

.header p {
    font-size: 0.775rem; /*0.875*/
    font-weight: 700;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 70%; /*462*/
    height: 38px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(60,60,75,0.06);
    margin-top: -20px;
    z-index: 2;
    position: relative;
    background: #FFFFFF;
}

.fa-solid {
    align-self: center;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    color: #9CA3AF;
}

.search input[type="text"] {
    border: none;
    width: 80%;
    margin-left: 10px;
    font-family: inherit;
    font-size: 0.875rem; /*1rem*/
    font-weight: 500;
    color: #6B7280;
    flex: 1;
}

.search button {
    padding: 0 20px;
    border: none;
    border-left: 1px solid #D1D5DB;
    font-size: 0.875rem;
    color: #374151;
    cursor: pointer;
}

.watch-list {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #DFDDDD;
}

/* When movies are added, change the layout */
.watch-list:not(:empty) {
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
}

.watch-list i{
    font-size: 100px;
    margin-left: 0;
    line-height: 1;
    width: auto; 
    height: auto; 
}

.watch-list p {
    display: block;
    margin: 0;
    line-height: 1.2;
    font-size: 1.125rem;
    font-weight: 700;
}

.movie-container, .movie-title, .movie-runtime {
    display: flex;
}

.movie-container {
    position: relative;
    gap: 20px;
    width: calc(100% - 20px);
    margin: 0 10px;
    max-width: 100%;
}

.movie-title {
    align-items: center;
    width: 90%;
}

.movie-title h2 {
    text-align: start;
    margin: 5px 15px 10px 0;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0%;
    color: #000000;

}

.movie-title i {
    margin-right: 10px;
    font-size: 0.875rem;
    color: #FEC654;
}

.movie-title p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #111827;
}

.movie-container div img {
    width: 99px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-runtime {
    gap: 10px;
    width: 90%;
}

.movie-runtime p {
    font-size: 0.875rem;
    color: #111827;
    font-weight: 400;
    text-align: start;
}

.movie-runtime i {
    font-size: 1.25rem;
}

.watch-list-btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.watch-list-btn i {
    color: #111827;
}

.movie-plot {
    width: 90%;
    text-align: start;
    margin-top: 20px;
}

.movie-plot p {
    
    font-size: 0.875rem;
    font-weight: 400;
    color: #6B7280;
    line-height: 20px;
}

hr {
    border: none;
    border-top: 1px solid #E5E7EB;
    margin: 20px auto;
    width: calc(100% - 20px);
    max-width: 100%;
}

/*Media Querries for screen size 870px >> */

@media(min-width: 870px) {

    main {
        width: 90%;
    }
    .header {
        height: 30vh;
    }

    .header h1 {
        font-size: 2.625rem;
    }

    .header p {
        font-size: 0.875rem;
    }

    .watch-list {
        width: 70%;
    }

    .movie-container {
        gap: 30px;
    } 

    .movie-container div img {
        width: 200px;
    }

    .movie-title h2{
        margin-right: 20px;
        font-size: 1.75rem;
    }
    .movie-title i, .movie-runtime i {
        font-size: 1.25rem;
    }
    
    .movie-title p  {
        font-size: 1.5rem;
    }

    .movie-runtime {
        margin-top: 15px;
    }

    .movie-runtime p {
        font-size: 1rem;
    }



    .movie-plot p {
        font-size: 1.125rem;
        line-height: 25px;
    }

}


